.sublink{
  margin:0;
}
.panel-activity{
  width: 100%;
  background:#953e46;
  margin: 0;
}
.panel-activity .panel-activity-header .title,.panel-activity .panel-activity-header .col:nth-child(2){
  color: #ffffff;
}
.panel-activity .panel-activity-header{
  width: 100%;
  margin: 0;
  border-bottom: 0.25rem solid #f3e4cf;
}
.panel-activity .panel-activity-header .col:nth-child(1),
.panel-activity .panel-activity-header .col:nth-child(2){
  margin: auto;
}

.panel-activity .panel-activity-header .col:nth-child(2){
  font-size: 14px;
  text-align: right;
}
.panel-activity .panel-activity-content{
  border-bottom: 2px solid #f3e4cf;
  padding-bottom: 20px;
}

.panel-activity .panel-activity-content,.panel-activity .panel-activity-content .list-activity{
  margin:0;
  width: 100%;
}
.panel-activity .panel-activity-content .list-activity .col{
  margin-left:-10px;
}
.panel-activity .panel-activity-content .list-activity .col .border-cancel{
display: none;
}
.panel-activity .panel-activity-content .list-activity:hover{
  cursor: pointer;
  border:0.15rem solid #f3e4cf;
}
.panel-activity .panel-activity-content .list-activity:hover .col .border-cancel{
  position: absolute;
  top: -5px;
  right: -15px;
  width: 20px;
  height: 20px;
  padding: 0.125rem;
  fill: #ffffff;
  color:white;
  background: #f3e4cf;
  border-radius: 0 0 0 calc(0.5rem - 2px);
  margin: -1px 0 0 -1px;
display: block;

}
.panel-activity .panel-activity-content .list-activity{
  margin-top:10px;
  padding: 5px;

}
.panel-activity .panel-activity-header {
  margin-bottom: 10px;
}
.panel-activity .panel-activity-content .list-activity img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}
.panel-activity .panel-activity-content .list-activity p{
  margin-top:0;
  margin-bottom:0;
}
.panel-activity .panel-activity-content .list-activity .col{
  display: flex;
  align-items: center;
}
.panel-activity .panel-activity-content .list-activity .col .information{
  margin-left: 10px;
  color:#ffffff;
}

@media only screen and (max-width: 700px) {
  .panel-activity{
    margin-top: 30px;
  }
}


@media only screen and (max-width: 500px) {
  .panel-activity .panel-activity-content .list-activity .col .information .name{
    font-size: 14px;
  }
  .panel-activity .panel-activity-content .list-activity .col .information .description{
    font-size: 12px;
  }
  .panel-activity .panel-activity-content .list-activity .col .information .lastupdate{
    font-size: 10px;
  }
  .panel-activity .panel-activity-header .col:nth-child(1) .title{
    font-size: 20px;
  }
  .panel-activity .panel-activity-header .col:nth-child(2){
    font-size: 12px;
}
}

