.sublink{
  margin:0;
}
.panel-channels{
  width: 100%;
  background: #953e46;
  margin: 20px 0 0 0;
}
.panel-channels .panel-channels-header .title, .panel-channels .panel-channels-header .col:nth-child(2){
  color: #f3e4cf;
}

.panel-channels .panel-channels-header{
  width: 100%;
  margin: 0;
  border-bottom: 0.25rem solid #f3e4cf;
}
.panel-channels .panel-channels-header .col:nth-child(1),
.panel-channels .panel-channels-header .col:nth-child(2){
  margin: auto;
}

.panel-channels .panel-channels-header .col:nth-child(2){
  font-size: 14px;
  text-align: right;
}
.panel-channels .panel-channels-content, .panel-channels .panel-channels-content .list-channels, .panel-channels .panel-channels-content .list-channels .col{
  margin: 0;
  width: 100%;
  padding: 3px;
}
.panel-channels .panel-channels-content{
  margin-top: 20px;
}
.panel-channels-content .list-channels .image-container{
  position: relative;
}
.panel-channels-content .list-channels .image-container img{
  width: 100%;
  height: 100%;
}
.panel-channels-content .list-channels .image-container .image-text{
  position: absolute;
  bottom: 10px;
  left: -5px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
.panel-channels-content .list-channels .image-container .border-cancel{
    display: none;
}
.panel-channels-content .list-channels .image-container:hover{
  cursor: pointer;
}
.panel-channels-content .list-channels .image-container:hover .border-cancel{
  position: absolute;
  top: 3px;
  right: 3px;
  width: 20px;
  height: 20px;
  padding: 0.125rem;
  background: #f3e4cf;
  display: block;
}
