<div class="row panel-channels">
  <div class="row panel-channels-header">
    <div class="col">
      <h3 class="title">channels</h3>
    </div>
    <div class="col">
      <a href="" class="sublink">View Timeline / Filter channels</a>
    </div>
  </div>
  <div class="row panel-channels-content">
    <div class="row list-channels">
      <div class="col image-container">
       <img src="https://images.unsplash.com/photo-1553166272-e69910ab5ae1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"/>
       <div class="image-text">
        Google
       </div>
       <i class="fa fa-times border-cancel" aria-hidden="true"></i>
      </div>
      <div class="col image-container">
       <img src="https://images.unsplash.com/photo-1553166272-e69910ab5ae1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"/>
       <div class="image-text">
        Google
       </div>
       <i class="fa fa-times border-cancel" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
