<div class="footer-website main-footer">
  <div class="row">
    <div class="col">
      <img src="../../../assets/img/icons/facebook.png" class="facebook"/>
      <img src="../../../assets/img/icons/twitter.png" class="twitter"/>
      <img src="../../../assets/img/icons/linkedin.png" class="linkedin"/>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <nav class="breadcrumbNav" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">About</li>
          <li class="breadcrumb-item">For Business</li>
          <li class="breadcrumb-item active" aria-current="page">Suggestions</li>
          <li class="breadcrumb-item active" aria-current="page">Help & FAQs</li>
          <li class="breadcrumb-item active" aria-current="page">Contacs</li>
          <li class="breadcrumb-item active" aria-current="page">Pricing</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>@ Copyright 2013 Company Name</p>
      <p>Privacy / Term</p>
    </div>
  </div>
</div>
