.footer-mobile{
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  max-height: 50px;
  background-color: white;
  height: 50px;
}

.footer-mobile .col:nth-child(1),
.footer-mobile .col:nth-child(2),
.footer-mobile .col:nth-child(3){
  display: flex;
}
.footer-mobile .col:nth-child(1) button,
.footer-mobile .col:nth-child(2) button,
.footer-mobile .col:nth-child(3) button{
  margin: auto;
  padding: 0;
  background-color:transparent;
  font-size: 20px;
}
.footer-mobile .col:nth-child(1) button span,
.footer-mobile .col:nth-child(2) button span,
.footer-mobile .col:nth-child(3) button span{
  display: block;
  font-size: 12px;
}
@media only screen and (max-width: 700px) {
  .footer-mobile{
    display: block;
  }
}
