.navbar .navbar-brand {
  color: #f3e4cf;
  font-size: 2rem;
  font-weight: lighter;
}
.navbar .brand-bold {
  font-weight: 600;
}
.navbar .search-bar,
.navbar .btn-search, .navbar .btn-upload {
  background-color: #f3e4cf;
  border-radius: 0;
  border-color: #f3e4cf;
  color: #953e46;
}
.navbar .profile .row, .navbar .profile .image-container, .navbar .profile .profile-information{
  padding: 0;
  margin: 0;
}
.main-font-color {
  color: #953e46;
}
.navbar .profile img{
  width: 36px;
  height: 36px;
  object-fit: cover;
  margin-right: 10px;
}
.navbar .profile .profile-information-parent .badge{
  position: absolute;
  top: -10px;
  right: -10px;
}
.navbar .profile .profile-name{
  font-size: 14px;
}
.navbar .profile .profile-profession{
  font-size: 12px;
}
.navbar .profile .profile-name, .navbar .profile .profile-profession{
  color: #f3e4cf;
}
.dropdown-menu{
  margin-top: 0;
}
.navbar form{
  margin: auto 0 auto 0;
  width: calc(35vw - 50px);
}



.navbar .navbar-brand.text,.navbar .menu-website{
  display: block;
}
.navbar .navbar-brand.logo,.navbar .menu-mobile{
  display: none;
}
@media only screen and (max-width: 700px) {
  .navbar .navbar-brand.logo,.navbar .menu-mobile,.navbar .navbar-brand .logo{
    display: block;
  }
  .navbar .navbar-brand.text,.navbar .menu-website,  .navbar .navbar-brand{
    display: none;
  }
  .navbar form{
    width: calc(75vw - 50px);
  }




}

.navbar .menu-mobile .container-menu{
  position:relative;
}
.navbar .menu-mobile .container-menu .badge{
  position: absolute;
  top: -15px;
  right: -15px;
  border-radius: 100%;
}
