<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">SocialNetwork</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <form
      class="form-inline"
      style="margin: auto 0 auto 0; width: calc(35vw - 50px)"
    >
      <div class="input-group" style="width: 100%">
        <input
          type="text"
          class="form-control"
          placeholder="Search this blog"
        />
        <div class="input-group-append">
          <button class="btn btn-secondary" type="button">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </form>
    <button class="btn btn-secondary" type="button" style="margin: auto">
      <i class="fa fa-arrow-up" aria-hidden="true"></i>
      Upload
    </button>
    <ul class="navbar-nav mr-auto float-right" style="margin: auto">
      <li class="nav-item dropdown">
        <div class="row profile">
          <div class="row">
            <div class="col image-container">
              <img
                src="https://images.unsplash.com/photo-1499996860823-5214fcc65f8f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=702&q=80"
              />
            </div>
            <div class="profile-information-parent" style="position: relative">
              <span class="badge badge-pill badge-primary">0</span>
              <div class="col profile-information">
                <div class="profile-name">Alif</div>
                <div class="profile-profession">programmer</div>
              </div>
            </div>
          </div>
        </div>
        <div class="dropdown-menu">
          <a href="#" class="dropdown-item">
            <i class="fa fa-user" aria-hidden="true"></i>
            Profile
          </a>
          <a href="#" class="dropdown-item">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            Logout
         </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
