<div class="row">
  <div class="col image-container col-sm-8">
    <img  src="https://images.unsplash.com/photo-1553166272-e69910ab5ae1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"/>
    <div class="image-text">Google</div>
  </div>
  <div class="col">
    <div class="row">
      <div class="col image-container">
        <img  src="https://images.unsplash.com/photo-1553166272-e69910ab5ae1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" />
        <div class="image-text">Google</div>
      </div>
    </div>
    <div class="row">
      <div class="col image-container">
        <img src="https://images.unsplash.com/photo-1553166272-e69910ab5ae1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" />
        <div class="image-text">Google</div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col image-container">
    <img  src="https://images.unsplash.com/photo-1553166272-e69910ab5ae1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"/>
    <div class="image-text">Google</div>
  </div>
  <div class="col image-container">
    <img  src="https://images.unsplash.com/photo-1553166272-e69910ab5ae1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"/>
    <div class="image-text">Google</div>
  </div>
  <div class="col image-container">
    <div class="upload-your-own"> </div>
    <div class="image-text-upload-your-own">
      <i class="fa fa-play-circle-o" aria-hidden="true"></i>
      Upload Your own Video
    </div>
  </div>
</div>
