/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'roboto';
  src: url('assets/fonts/Roboto/Roboto-Regular.ttf');
}
*{
  font-family: 'roboto';
}
body, body .nav-bar-dev{
  background: #953e46;
}
/* @media only screen and (max-width: 991px) {
  body {
    background-color: lightblue;
  }
} */

/* @media screen
  and (max-width: 320px)
  and (max-width: 640px)
 {
    body {
      background-color: lightblue;
    }
} */
