/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'quicksand';
  src: url('assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf');
}
*{
  font-family: 'quicksand';
}
body, body .nav-bar-dev{
  background: #953e46;
}
.main{
  max-width: 500px;
}

@media only screen and (max-width: 700px) {
  body {
    background-color: lightblue;
  }
}

/* @media screen
  and (max-width: 320px)
  and (max-width: 640px)
 {
    body {
      background-color: lightblue;
    }
} */
